<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>TCHIBOZO Jean-Eudes</h4>
            <p><em>En tant que jeune développeur web mobile full stack avec 2 ans d'expérience, je suis un professionnel innovant, axé sur les délais et passionné par la conception et le développement de solution numérique centré sur l'utilisateur. J'ai acquis une solide expertise dans la création d'applications et de sites web interactifs, en m'impliquant depuis le concept initial jusqu'au livrable final, en veillant à ce que chaque aspect soit poli et de haute qualité.</em></p>
            <ul>
              <li>Godomey PK14 , Abomey-Calavi</li>
              <li>+229 54-61-87-39</li>
              <li>tchibozojeaneude@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Licence Professionnelle en Réseau et Génie Logiciel</h4>
            <h5>2020 - 2023</h5>
            <p><em>PIGIER-Bénin, Cotonou</em></p>
          </div>
          <div class="resume-item">
            <h4>Baccalauréat série D </h4>
            <h5>2017 - 2020</h5>
            <p><em>EGTP Laura Vicuna, Cotonou</em></p>
          </div>
          <div class="resume-item">
            <h4>BEPC  </h4>
            <h5>2013 -2017 </h5>
            <p><em>Complexe Scolaire St Marie-Stella, Cotonou</em></p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Expéience professionnelle</h3>
          <div class="resume-item">
            <h4>développeur web /mobile </h4>
            <h5>2021 - 2022</h5>
            <p><em>AMS, Cotonou</em></p>
            
          </div>
          <div class="resume-item">
            <h4>développeur web /mobile </h4>
            <h5>22 Décembre 2022 -22 Avril 2023 </h5>
            <p><em>Auto-école Pacifique Bénin, Cotonou</em></p>
            <ul>
              <li>Conception et réalisation d'une application de gestion d'auto-école .</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
