  

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../assets/WhatsApp Image 2022-12-04 à 00.16.20.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a routerLink="#">TCHIBOZO Jean-Eudes</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.facebook.com/profile.php?id=100018816945334&mibextid=ZbWKwL" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/jeaneudes2866?igshid=MzNlNGNkZWQ4Mg==" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/jean-eudes-tchibozo-479426200/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a routerLink="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Acceuil</span></a></li>
          <li><a routerLink="/a-propos" class="nav-link scrollto"><i class="bx bx-user"></i> <span>A propos</span></a></li>
          <li><a routerLink="/resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Parcours et <br> formation</span></a></li>
          <li><a routerLink="/portofioli" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a routerLink="/service" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a routerLink="/contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>

   
  </header><!-- End Header -->


 
	