<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Emplacement</h4>
                <p class="lead mb-0">
                    Bénin ,Cotonou
                    <br />
                    Gbédjromede avant le collége référence.
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Réseau sociaux</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://free.facebook.com/profile.php?eav=AfZy0GhH_qQjV6J7AyfVywfQrNYVyJdnkuBW2FFdc9ub0Kpkov56tl408xeQULXHPsQ&ref_component=mbasic_bookmark&ref_page=XMenuController&ref=m_upload_pic&paipv=0"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="www.linkedin.com/in/jean-eudes-tchibozo-479426200"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://dribbble.com/tchibozojeaneude?onboarding=tru"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">A propos</h4>
                <p class="lead mb-0">
                   Développeur full-stack en freelance.Co-fondateur de Nomades Develop
                    <a href="https://nomads-developper.web.app/">Nomades Develop</a>
                    .
                </p>
            </div>
        </div>
    </div>
</footer>