<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">A propos</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-4 ms-auto"><p class="lead">Je suis un jeune développer junior full-stack ayant débuté dans le domaine de développent de solution mobile du plus de deux ans.Mon but principal est favorisé la communication et de résoudre des problème clé de la vie grâce au développement de solution.</p></div>
          <div class="col-lg-4 me-auto"><p class="lead">Je pourrais me décris comme un acharné du boulot , désirant toujours bien faire et montré mes différente compétence acquise dans le domaine de l'informatique</p></div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="https://firebasestorage.googleapis.com/v0/b/portofiolio.appspot.com/o/Document3.pdf?alt=media&token=ebc72bbe-7303-4381-8664-62f83dcf8fca">
              <i class="fas fa-download me-2"></i>
              Télécharger mon cv
          </a>
      </div>
  </div>
</section>