<div class="container">
   <!-- ======= About Section ======= -->
 <section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>information sur moi </h2>
      <p> Jeune , dynamique avec une grande capacité à m'adapter , je donne toujours le meilleur de moi afin de satisfaire les attentes autour de moi .Je manque encore encore d'expérience mais je serais comblé ce défaut par ma combativité et mon acharnement au travaille . Extrêmement motivé pour développer constamment mes compétences et évoluer professionnellement. Je suis confiant dans ma capacité à proposer des idées intéressantes pour des dévelloper des solutions numériques .</p>
    </div>

    <div class="row">
      <div class="col-md-4" data-aos="fade-right">
        <img src="../../assets/IMG-20230611-WA0010.jpg" style="width:40% ;"  class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Developpement web ;Developpement mobile </h3>
        <p class="fst-italic">Voici mes informations personnelles
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>16 Août 2003</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><br><a style="text-decoration: none; color: black;" href="https://cvtchibozo.web.app/home">TCHIBOZO Jean-Eudes</a></span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+229 54-61-87-39</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Cotonou, Bénin</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Licence </span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>tchibozojeaneude@gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
        <p>
        
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
</div>