<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="../../assets/WhatsApp Image 2022-12-04 à 00.16.20.jpg" style="width:24vw ;" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>TCHIBOZO Jean-Eudes G. V.</span></p>
                      <p><span class="title-s">Profile: </span> <span>Junior full stack developer</span></p>
                      <p><span class="title-s">Email: </span> <span>tchibozojeaneude@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(+229) 54618739</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>CSS3</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>PHP</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Angular </span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Ionic</span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Laravel</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Symfony</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      A propos
                    </h5>
                  </div>
                  <p class="lead">
                   
                  </p>
                  <p class="lead">
                    Je suis un jeune développer junior full-stack ayant débuté dans le domaine de développent de solution mobile du plus de deux ans.Mon but principal est favorisé la communication et de résoudre des problème clé de la vie grâce au développement de solution.
                  </p>
                  <p class="lead">
                    Je pourrais me décris comme un acharné du boulot , désirant toujours bien faire et montré mes différente compétence acquise dans le domaine de l'informatique
                  </p>
                  <p class="lead">
                    Jeune , dynamique  avec une grande capacité à m'adapter , je donne toujours  le meilleur de moi afin de satisfaire les attentes autour de moi .Je manque encore encore d'expérience mais je serais comblé ce défaut par ma combativité et mon acharnement au travaille .   
Extrêmement motivé pour développer constamment mes compétences et évoluer professionnellement. Je suis confiant dans ma capacité à proposer des idées intéressantes pour des campagnes publicitaires inoubliables. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->