<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Developer -Full remote </h3>
                <div class="subheading mb-3">Auto-Ecole Pacifique</div>
                <p>Mise en et automatisqtion des systèmes de l'auto-école en se qui concerne la gestion des client .Création d'une application mobile servant à la formation des candidat à l'examen du permis de conduite</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Novembre 2022 - Actuellement</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior FullStack Developer -Full remote</h3>
                <div class="subheading mb-3">AMS </div>
                <p>Présenter un prototype et une analyse pour la
                    réalisation d'un programme de gestion de menu
                    interactif dans les restaurant</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Mars 2022 - Décembre  2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Chef projet informatique</h3>
                <div class="subheading mb-3">Pigier-Bénin</div>
                <p>Réalisation et supervision du projet Pigier-Parent dans le but de renforcer le lien entre l'administration et les parents des étudiants en les tenant informé de ce qui se passe . </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior web Developer -Full remote</h3>
                <div class="subheading mb-3">Métamorphose 3.0</div>
                <p>Réalistion d'un sytème web mettant en évidance la structure Métamorphse 3.0</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
        </div>
    </div>
</section>