<section id="services" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box ">
            <h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
                Voici l'ensemble des services que je réalise pour un particulier ou une entreprise
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Chef projet Junior</h2>
              <p class="s-description ">
                supervision et gestion d'un projet informatique du début jusqu'à terme .
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Developpement web</h2>
              <p class="s-description ">
                Confection de de site web responsive 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Developpement d'application mobile</h2>
              <p class="s-description ">
               Création d'application mobile qui s'adapte à tous les systèmes
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Audit des systèmes informatique</h2>
              <p class="s-description ">
                 Réalisation d'audit de votre système informatique ainsi que des logiciels
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Analyse système </h2>
              <p class="s-description ">
              Recherche des besoins <br>
              Analyse de faisabilité <br>
              Réalisation des  prototypes <br>
              Conception du système <br>
              Test du système <br>
              Maintenance du système(programme ou réseau ) <br>

              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section><!-- End Services Section -->