<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>Je suis un développeur web mobile full stack et je suis là pour vous offrir une gamme complète de services de développement. Que vous ayez besoin d'une application mobile, d'un site web ou d'une solution complète, je suis là pour répondre à vos besoins.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="title"><a href="">Creation de site vitrine </a></h4>
        <p class="description"></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-card-checklist"></i></div>
        <h4 class="title"><a href="">Créactioon de système de facturation </a></h4>
        <p class="description"></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="title"><a href="">Créationd système d'archivage </a></h4>
        <p class="description"></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="title"><a href="">Dévelloppement d'application mobile </a></h4>
        <p class="description"></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="bi bi-brightness-high"></i></div>
        <h4 class="title"><a href="">Creation de API avec Nodesjs & ExpressJs</a></h4>
        <p class="description"></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <h4 class="title"><a href="">Creation d'application web</a></h4>
        <p class="description"></p>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->
